<!DOCTYPE html>
<html ng-app="myApp">

<head lang="en">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</head>

<body ng-controller="View2Ctrl" >
    
       <fieldset id="fields-list">
 <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('#!/view1')" name="page1"><a style="text-decoration:none" href="#!/view1">Database</a></md-nav-item>
      <md-nav-item md-nav-click="goto('view2')" name="page2"><a style="text-decoration:none" href="#!/view2">Web Service</md-nav-item>    
      
    </md-nav-bar>
   
  </md-content>


    <div ng-init="loadUserData()">
    <div class="pure-g entry" ng-repeat="input in inputs track by $index" >
      <div class="pure-u-1-5" layout-gt-sm="row">
<form name="myForm" novalidate"> 
<md-input-container class="md-block pure-input-1" id="input" name="input-1" required>
            <label>URL</label>
            <input class ="form-control" ng-model="input.url" required>
          </md-input-container> 
<md-input-container class="md-block" >
            <label>Schedule(mins)</label>
            <input class ="form-control" ng-model="input.scheduledMin" placeholder="30" ng-pattern="/^[0-9]$/" md-maxlength="2" /> 

<md-button ng-click="loading(input.url)">Test Now</md-button>
<md-button ng-click="remove($index)">delete</md-button>
<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
      </div>

      </div>
      </div>

    </div>
  </fieldset>

<md-button class="md-raised" ng-click="add()">Add</md-button>
<md-button class="md-raised" ng-click="save()">Save</md-button>
</form>
</body>
</html>