<!DOCTYPE html>
<html ng-app="myApp">

<head lang="en">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</head>

<body ng-controller="View2Ctrl">
  <fieldset id="fields-list">
    <div class="pure-g entry" ng-repeat="input in inputs track by input['id']">
      <div class="pure-u-1-5" layout-gt-sm="row">

<md-input-container class="md-block pure-input-1" id="input" name="input-1" required>
            <label>URL</label>
            <input ng-model="webservice.url">
          </md-input-container> 
<md-input-container class="md-block" >
            <label>Schedule(mins)</label>
            <input name="mins" ng-model="webservice.mins" placeholder="30" ng-pattern="/^[0-9]$/" md-maxlength="2">   
<md-button ng-click="loading(webservice.url)">Test Now</md-button>
<md-button ng-click="remove(input['id'])">delete</md-button>
<!--<md-progress-circular ng-show="loading" md-mode="indeterminate"></md-progress-circular>-->
<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
      </div>

      </div>


    </div>
  </fieldset>
</body>
<md-button class="md-raised" ng-click="add()">Add</md-button>


</html>